/*impostazioni generali*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-image: url(../bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin-inline: 8em;
  letter-spacing: 0.5px;
}
main {
  text-align: center;
}

h3 {
  font-weight: 300;
  margin-bottom: 0.5rem;
  font-size: 22px;
}
p {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 22px;
}
.textArea {
  color: white;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #900080;
  padding-bottom: 4px;
  font-size: 12px;
  padding-left: 15px;
  width: 36%;
}

/* impostazioni per classi e id*/
#logo {
  width: 9em;
  height: auto;
  padding-top: 2.5em;
  margin-bottom: 4rem;
  margin-left: 9em;
}
#title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.star {
  display: inline-block;
  margin-top: 1rem;
  padding-inline: 2px;
  cursor: pointer;
}
.star:hover {
  filter: drop-shadow(1px 1px 20px #00ffff);
  transition: filter 0.3s ease;
}

.colorStar:hover path {
  fill: #00ffff;
}

.styleButton {
  padding: 1rem;
  width: 10rem;
  border: 0;
  background-color: #00ffff;
  color: #191970;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.styleButton:hover {
  filter: drop-shadow(1px 1px 20px #00ffff);
}
h2 {
  text-align: center;
  margin-top: 4em;
  font-size: 30px;
}
