body {
  margin: 0;
  background-image: url("../bg.jpg");
  background-size: cover;
  box-sizing: border-box;
  margin-inline: 8em;
  font-family: "Times New Roman", Times, serif;
}
img {
  width: 9em;
  height: auto;
  padding-top: 2.5em;
}
h1 {
  color: white;
  margin-bottom: 0;
  font-size: 60px;
}
.bold {
  margin-top: 0;
  font-weight: bold;
}
