@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap");
body {
  margin: 0;
  background-image: url("../bg.jpg");
  background-size: cover;
  box-sizing: border-box;
  margin-inline: 8em;
  font-family: "SUSE", sans-serif;
}
img {
  width: 9em;
  height: auto;
  padding-top: 2.5em;
}
h1,
p,
span,
li,
label {
  color: white;
}
h1 {
  margin-bottom: 0;
  font-size: 60px;
}
.bold {
  margin-top: 0;
  font-weight: bold;
}
